{% extends 'base.html' %}
{% block h1 %}{{ block.super }}的硬盘列表{% endblock %}
{% block content %}

<div class="row" id="app">
        <div class="box">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>插槽号</th>
                <th>接口类型</th>
                <th>原始磁盘大小</th>
                <th>强制磁盘容量</th>
            </tr>
        </thead>
        <tbody>

{% for item in disks %}
            <tr class="active" >
                <td>{{ item.id }}</td>
                <td>{{ item.slot}}</td>
                <td>{{ item.pd }}</td>
                <td>{{ item.raw }}</td>
                <td>{{ item.coreced}}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>

    <div class="pagination row">
            <div class="m-auto">
                <span class="step-links">
                    <!-- 如果不是第一页，则显示上翻按钮 -->
                    {% if articles.has_previous %}
                    <a href="?page=1" class="btn btn-success">
                        &laquo; 1
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.previous_page_number }}" class="btn btn-secondary">
                        {{ articles.previous_page_number }}
                    </a>
                    {% endif %}
    
                    <!-- 当前页面 -->
                    <span class="current btn btn-danger btn-lg">
                        {{ articles.number }}
                    </span>
    
                    <!-- 如果不是最末页，则显示下翻按钮 -->
                    {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}" class="btn btn-secondary">
                        {{ articles.next_page_number }}
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.paginator.num_pages }}" class="btn btn-success">
                        {{ articles.paginator.num_pages }} &raquo;
                    </a>
                    {% endif %}
                </span>
            </div>
        </div>
</div>



<script>
    var app = new Vue({
        el: "#app",
        data: {
            disk: '',
        },
        methods: {
            getUrl() {
                return this.disk.links
            },
            getDiskData(url) {
                axios.get(
                    url,
                ).then(
                    res => {
                        this.disk = res.data
                    }).catch(err => {
                        console.log(err)
                    });
            }
        },

        mounted() {
            axios.get(
                "http://127.0.0.1:8000/cmdb/disk-list/",
            ).then(
                res => {
                    this.disk = res.data
                }).catch(err => {
                    alert(err)
                });
        },
    });
</script>

{% endblock  %}

{% block script %}
{% endblock %}