{% extends 'base.html' %}

{% block content %}
<section class="content">
    
    <div class="row">
        
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-info">执行Ansible命令</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="box-footer">
                        <div class="input-group">
                            <select type="text" name="group_name" 
                                class="form-control postmess">
                                <option value="web">web</option>
                                <option value="local">local</option>
                            </select>
                            <select type="text" name="host_ip" 
                                class="form-control postmess1">
                                <option value="10.0.122.124">10.0.122.124</option>
                                <option value="local">local</option>
                            </select>
                            <input type="text" name="varsdic" placeholder="{'name':'rourou'}"
                                class="form-control postmess2">
                            <input type="text" name="modelname" placeholder="ping"
                                class="form-control postmess3">
                            <input type="text" name="shellname" placeholder="ls /tmp" 
                                class="form-control postmess4">
                            <div class="input-group-btn" id="getMess">
                                <button type="button" class="btn btn-primary btn-success">执行！</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer no-padding">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">结果</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="box-footer">
                        <div class="box-body">
                            <p id="finresule"></p>
                        </div>
                    </div>
                </div>
                <div class="box-footer no-padding">
                </div>
            </div>
        </div>
    </div>
</section>
{%  endblock  %}

{% block script %}
<script>
    $(function () {
        var task_id = ' '
    function getres(task_id) {
            var tm = setTimeout(function f(task_id) {
                $("#finresule").empty()
                $.ajax({
                    url: `/octopus/donamic_result/?task_id=${task_id}`,
                    type: "GET",
                    datatype: "json",
                    success: function (res) {
                        if (res.success) {
                            $("#finresule").append(
                                `
                                <code>${res.result}<\code>`
                            )
                            clearTimeout(timer);
                        } else {
                            tm = setTimeout(f(task_id), 2000, task_id)
                        }
                    }
                })
            }, 2000, task_id)
        }
        $("#getMess").on("click", function () {
            let group_name = $(".postmess").val();
            let host_ip = $(".postmess1").val();
            let varsdic = $(".postmess2").val();
            let modelname = $(".postmess3").val();
            let shellname = $(".postmess4").val();
            if (! (group_name && host_ip && modelname )) {
                $("#finresule").text("命令不能为空")
                return false
            }
            $.ajax({
                url: "{% url 'octopus:dotask' %}",
                type: "POST",
                data: { "group_name": group_name,"host_ip":host_ip,"varsdic":varsdic,"modelname":modelname,"shellname":shellname, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                success: function (res) {
                    task_id = res.task_id
                    getres(task_id)
                }
            })
        })
    })
</script>
{% endblock %}



